
<div class='fullContainer'>
    <div class="perfumeContainer" >
        <img src={{product.img}}>
        <p><b>{{product.name}}</b></p>
        <p>{{product.price}} kr</p>
        <p>{{product.smell}}</p>
        <p>{{product.size}}</p>
        Välj antalet produkter<input [id]="product.id" type="text" [(ngModel)]="quantity" (ngModelChange)="addProductToCart(quantity)"  #myInput>
        <button id='addToCartButton'(click)="addProduct(); addProductToCart(quantity)">+</button>
    </div>
</div>
