<div class='backgroundimg'></div>
<div class='homePageDiv'>
    <h3 style="background-color: transparent">INNOVIA</h3>
    <h5 style="background-color: transparent">På INNOVIA hittar du de allra trendigaste parfymerna till det bästa priset. Oavsett vilken parfym som är din favorit har vi den och mycket mycket mer</h5>
</div>
<div class='homePageImg'>
    <div class="parfymeImg">
        <img src='/assets/images/pexels-cottonbro-studio-4659794.jpg' width="300px" height="300px"/>
    </div>
    <div class="parfymeImg">
        <img src='/assets/images/pexels-cottonbro-studio-4659792.jpg' width="300px" height="300px"/>
    </div>
</div>
<img class="handParfyme" src='/assets/images/pexels-artem-podrez-6801188.jpg' width="1000px" height="500px"/>
<div class='homePageParfymeDiv'>
    <h1>Make your day to a fresh day</h1>
</div>
<img class='parfymeflower' src='/assets/images/pexels-ron-lach-10536602.jpg' width='400px' height='500px'/>