<h1 id="yourCart">Din Varukorg</h1>
<!--Loops through the cartItem to display the products added to the cart-->
<div class="cartProductIthem" id="cartitems"*ngFor="let cartItem of cart.items">
    <img src={{cartItem.product.img}} class="cartProductImg" />
    <p><b> {{cartItem.product.name}} </b></p>
    <p>{{cartItem.product.price}} kr</p>
    <p>{{cartItem.product.smell}}</p>
    <p>{{cartItem.product.size}}</p>
    <p>Antalet av produkten: {{cartItem.quantity}}</p>
    <!--A button that deletes a product in the shopping cart-->
    <button id="removeProduct" (click)="removeProductFromCart(cartItem)">X</button>
</div>
<div>
    <!--Calculates the total price for all products in the shopping cart-->
    <p class='totalPrice'>Totala priset: {{cart.cartTotalPrice}} kr</p>
</div>